@import url(http://fonts.googleapis.com/css?family=Questrial|Monoton|Satisfy);

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ECF3F7;
    padding-top: 70px; 
    font-family: 'Questrial', sans-serif;
    color: #333F52; 
}

h1, h2 {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 6.5rem;
    margin: 0 0 25px 0;
    color: tomato;
}

td, ul li, footer {
    text-transform: uppercase;
}



/* NAVIGATION BAR */

.navbar-inverse .navbar-nav>li>a {
    color: #3A465A;
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2rem;  /*think I will remove and work with vmax */                           
    word-spacing: .25rem; /*think I will remove and work with vmax */
    color: tomato;
}

li {
    font-size: .75rem; /*think I will remove and work with vmax */
}


.nav li a {
    padding: 10px 10px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar {
    padding-top: 20px;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
}

.navbar-inverse {
    background-color: white; 
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: tomato;
}

.navbar-inverse .navbar-brand:hover {
    color: tomato;
}

.navbar-toggle {
    background-color: #25373D;
}

.navbar-collapse {
    padding-right: 0px; 
    padding-left: 0px;
}



/*IMAGE SCROLL*/

.section {
    height: 575px;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
}

.section.content {
    height: 400px;
    background-color: #ECF3F7;
}

.section.photo_1 {
    background-image: url(../img/sheep.jpg); 
}

.section.photo_2 {
    background-image: url(../img/sandwich.jpg); 
}

.section.photo_3 {
    background-image: url(../img/stew.jpg); 
}

.section.photo_4 {
    background-image: url(../img/cookies.jpg); 
}

.section.photo_5 {
    background-image: url(../img/porridge.jpg); 
}

.section.photo_6 {
    background-image: url(../img/interior.jpg); 
}



/* CONTENT SECTION */

.table>tbody>tr>td {
    border-top: 2px solid white;
    padding: 5px 10px;
}

@-moz-document url-prefix() {
    fieldset { 
        display: table-cell; 
    }
}

.welcome p {
    margin: 0% 10%;
    text-align: left;
    font-size: 1rem;
}

.welcome-info {
    display: none;
}

.welcome-icons {
    display: none;
}

.content {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ECF3F7;
    padding: 50px 0px;
}

.menu-board {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-board li {
    border-bottom: 2px solid white;
    list-style-type: none;
    padding-top: 1rem;
}

.vertical-text {
    width: 1rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    word-wrap: break-word;
    float: left;
    padding-top: 15px;
    padding-right: 45px;
}

ul {
    padding-left: 0px;
}

li {
    line-height: inherit;
}

ul li span {
    padding-left: 120px;
    float: right;
}

ul li p:nth-of-type(2) {
    text-transform: lowercase;
    margin-top: -10px;
    margin-bottom: 0;
    width: 100%;
}



/* FOOTER */

footer {
    background: #ECF3F7;
    height: 150px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 10px 10px;
}

.icons {
    padding-top: 20px;
    padding-bottom: 20px;
} 

.icons a {
    background-color: white;
    padding: 1em 0;
    margin: 0 2em;
    color: tomato;
    border-radius: 50%;
    height: 70px; 
    width: 70px;
}

.icons a:hover {
    background: tomato;
    color: white;
}

address {
    margin: 0 0;
}