/* iPHONE MEDIA QUERIES */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      body {
           background-image: url(../img/saab900-sky.jpg);
           background-color: black;
           background-size: cover;
           background-position: 95% 0%;  
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body {
        background-image: url(../img/angle-900.jpg);
        background-position-x: 50%;
    }

    #title {
        width: 300px;
        padding: 15px 0px;
    }

    h1 {
        font-size: 1.5em;
    }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}





=================================================









@media screen and (max-width: 1920px) {
    #title {
    width: 550px;
    }

    h1 {
        font-size: 3em; 
    }

    h2 {
        font-size: 1.5em;
    }
}



/* (1280x600) 
@media screen and (max-width: 1280px) {
    body {
      background-size: 1280px 720px;
    }

    #title {
    width: 425px;
    }

    h1 {
        font-size: 2em; 
    }

    h2 {
        font-size: 1em;
    }
}


































/* (980x1280) 
@media screen and (max-width: 980px) {
    body {
        background-image: url(../img/saab900-sky.jpg);
        background-size: cover;
        background-position: -490px;
        background-color: black;
    }
    #title {
        top: 90%;
        padding: 15px 0px;
    }

    h2 {
        font-size: 1.25em;
    }

    .social-media {
        left: 45%;
        top: 95%;
        position: absolute;
    }
}








/* (768x1024) 
@media screen and (max-width: 768px) {
    .social-media {
        top: 96%;
    }
}













































































/* (800x1280) 
@media screen and (max-width: 800px) {
    body {
        background-image: url(../img/saab900-sky.jpg);
        background-color: black;
        background-size: cover;
        background-position: 95% 0%;
    }
    #title {
        top: 90%;
    }
}


















/* (640x360) 
@media screen and (max-width: 640px) {
    body {
      background-image: url(../img/saab900-sky.jpg);
      background-size: 640px 460px;
      background-position-y: -30px;
    }

    #title {
        padding: 5px 5px;
    }


    h1 {
    font-size: 2em; 
}

h2 {
    font-size: 1.25px;
    color: #f0f0f0; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 10px;
    -webkit-animation: flickerAnimation 6.0s infinite;
       -moz-animation: flickerAnimation 6.0s infinite;
            animation: flickerAnimation 6.0s infinite;
}
}








/* (480x320) 
@media screen and (max-width: 480px) {
    #title {
        top: 90%;
    }
}


























/* (360x640) 
@media screen and (max-width: 360px) {
    body {
        background-color: black;
        background-image: url(../img/saab900-sky.jpg);
        background-size: contain;
    }
    
    #title {
        width: 270px;
        position: absolute;
        top: 75%;
        border: 2px solid black;
}

    h1 {
        font-size: 1.5em; 
        color: black;
    }

    h2 {
            -webkit-animation: flickerAnimation 3.0s infinite;
       -moz-animation: flickerAnimation 3.0s infinite;
           animation: flickerAnimation 3.0s infinite;
        font-size: .75em;
        color: black;
    }
    

    .social-media {
    position: absolute;
    left: 2%;
    top: 20px;
    }
    
    .fa {
        color: black;
        padding: 0 10px;
    }
    
    
}























































@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
    body {
        background-color: black;
        background-image: url(../img/saab900-sky-small.jpg);
        background-size: cover;
        background-position: 96% 0%; 
        }

    #title {
        width: 250px;
        top: 15%;
    }

    h1 {
    font-size: 1.5em; 
    }
    
    .social-media {
  position: absolute;
  left: 50%;
  top: 30%;
    }

.fa {
    color: black;
    padding: 0px 10px;
    }
}

























